body {
    font-family: arial;
    margin: 0;
}

main {
    margin-top: 9em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}

.top-container,
.bottom-nav {
    direction: ltr;
    display: flex;
    font-size: 13px;
    align-items: center;
    padding-left: 2em;
}

.top-container {
    margin-top: 1em;
}

.signin {
    background-color: #0062ff;
    padding: 0.5em 1em;
    color: white;
}

.bottom-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3.2em;
    background: #f2f2f2;
}

.last-item {
    padding-right: 2em;
}

.nav-right {
    margin-left: auto;
}


.right-item,
.left-item {
    margin-right: 2em;
}

.buttons {
    height: 2.5em;
    margin-right: 1em;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 0px 15px;
}

#g-logo {
    height: 120px;
}

#search-bar {
    width: 530px;
    height: 40px;
    margin-bottom: 2em;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding-left: 40px;
    font-size: 15px;
}
